body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: cornsilk; */
}
a {
    text-decoration: none;
}
h1 {
    padding: 10px;
}
h1 a {
    text-decoration: none;
    color: black;
}
h1 a:hover {
    color: blue;
}
.product {
    /* border: 2px solid crimson; */
    border-radius: 8px;
    box-shadow: black;
    text-align: center;
    width: 100%;
    height: fit-content;
}
* {
    /* background-color: cadetblue; */
    margin: 0px;
}
.loginp {

}
button a {
    text-decoration: none;
}
button a:hover {
    background-color: crimson;
}
.pro-descr {
    text-align: center;
    width: 100%;
}
.top-nav {
    background-color: black;
    height: 30px;
    width: 100%;
}
.top-nav span a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.top-nav span:hover {
    border:2px solid orange;
    color: blue;
    background-color: orange;
}
.top-nav .mmenu {
    float: right;
}
.pen {
    width: 90%;
    height: 100%;

}
.pencil {
    width: 90%;
    height: 100%;

}
.official-paper {
    width: 90%;
    height: 100%;

}
.ruler {
    width: 90%;
    height: 100%;

}
div .store-items {
}
.footer p {
    font-size: 13px;
    background-color: mintcream;
}
footer {
    background-color: mintcream;
    bottom: 0px;
    margin-bottom: 0px;
    position: absolute;
    
    
}
table tbody tr th {
    background-color: darkorange;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table tbody tr td {
    /* background-color: orange; */
    border: 2px double orange;
}
.finish-btn {
    color: white;
    border-radius: 10px;
    background-color: blue;
    align-self: center;
    padding: 5px 50px;
}
p  {
    color: black;
    line-height: .9em;
}
.carousel-caption-text {
    font-size: 20px;
    text-align: left;
    background-color: whitesmoke;
    opacity: .5;
}
.pro-descr .description {
    background-color:blue;
    width:100%;
    height:auto;
    padding:5px;
    text-align:center;
    color:white;
}
